.App {
  margin: 40px auto;
  max-width: 860px;
}

.title {
  font-size: 40px;
  margin: 20px 0;
  font-weight: 600;
}

.turns {
  margin: 20px 0;
}

button {
  font-family: 'Courier New', Courier, monospace;
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
